#calculator {
  border: 2px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
  background-color: black;
}

#display {
  height: 20px;
  margin: 10px;
  width: 85%;
  font-size: 25px;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  width: 45px;
  height: 40px;
  margin: 3px;
  border: 1px solid black;
  cursor: pointer;
}

